*{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color:#0f0e13 ;
}
.left {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 10px;
}

.right {
    text-decoration: none;
    position:absolute;
    right: 34px;
    top: 30px;
    display: inline-block;
    font-size:15px;
}
.contact a{
    text-decoration: none;
}
.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 15px;
}
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 8px 8px;
    margin-right:30px;
}
.navbar li a:hover,
    .navbar li a.active {
        background-color:#25252d;
        border-radius:30px;
        color:yellow;
    }
.right .contact a:hover,
    .right.contact.active {
        padding:8px;
        background-color:#25252d;
        border-radius:30px;
        color:yellow;
    }
.yellow{
    text-align:center;
    color:yellow;
    position:relative;
    left:20px;
}
footer{
    height:300px;
    position:absolute;
    top:800px;
    background-color:#25252d;
    width:100%;
}
.end{
    position:absolute;
    top:60px;
    left:30px;
    width:450px;
    height:100px;
    font-size:larger;
}
.icons{
    height:50px;
    width:200px;
    position:absolute;
    top:180px;
    left:30px;
    font-size: xx-large;
    display:flex;
    justify-content:space-between
}
.icons i{
    color:yellow;
}
.subscribe{
    position:absolute;
    left:700px;
    top:60px;
    font-weight: bold;
}
.last{
    position:absolute;
    left:700px;
    top:80px;
}
.last input{
    font-size:larger;
    border-radius:10px;
    color:#25252d;
}
.foot{
    height:200px;
    width:400px;
    position:absolute;
    left:700px;
    top:120px;
    display:flex;
    justify-content:space-between;
}
.grey{
    color:grey;
}
button{
    background-color: yellow;
    border-radius:10px;
    color:black;
}
.box{
    position:absolute;
    top:100px;
    height:600px;
    width:100%;
    display:grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 350px 350px;
}
.small{
    position:relative;
    left:200px;
    top:10px;
    height:290px;
    width:400px;
    background-color:#25252d;
    opacity:0.5;
    border-radius:20px;
    font-weight:bold;
    box-shadow:0px 15px 30px rgba(98, 101, 53, 0.25); 
    border:2px solid rgba(225, 225, 21, 0.1);
}
.white{
    color:white;
    position:relative;
    text-align:center;
}